/* .container{
    width: 360px;
}

.heading {
    font-size: 16px;
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
}

.equipmentOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 32px;
}

.vehicleOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.filterBtn {
    border: 1px solid var(--gray-light);;
    border-radius: 12px;
    width: 112px;
    height: 96px;
}

.filterBtn.active {
    border-color: #007bff;
    background-color: #e7f0ff;
}

.searchBtn {
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    background: var(--button);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    margin-top: 41px;
}

.pFilt {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    margin-top: 40px;
    margin-bottom: 32px;
} */
/* /////////////////////////////////////////////////////// */
.formWrapper {
    width: 360px;
}

.searchBtn {
    cursor: pointer;
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    transition: background-color 0.3s;
    color: #ffffff;
    background-color: #e44848;
    margin-top: 32px;
}

.searchBtn:hover,
.searchBtn:focus {
    background-color: #d84343;
}