.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    font-family: var(--font-family);
    
}

.link.active {
    color: var(--button-hover);
}